@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Default text color */
}

body {
  color: var(--foreground); /* Default text color */
  background: var(--background); /* Background color */
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
  }

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}
